<header class="header" [ngClass]="{'sticky':sticky==true}">
  <nav class="nav-bar" >
    <a href="#">
      <img
        src="../../../../assets/weavr-logo.png"
        alt="weavr logo"
        class="header-logo"
      />
    </a>
    <ul class="nav-list">
      <li class="item-expand">
        <a href="#" class="nav-links"> <span>Solutions</span></a>
        <mat-icon
          aria-hidden="false"
          aria-label="Expand icon"
          fontIcon="expand_more"
        ></mat-icon>
      </li>
      <li>
        <a href="#" class="nav-links">
          <span>Why weavr</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-links"> <span>Pricing</span></a>
      </li>
      <li class="item-expand">
        <a href="#" class="nav-links"> <span>Developers</span></a>
        <mat-icon
          aria-hidden="false"
          aria-label="Expand icon"
          fontIcon="expand_more"
        ></mat-icon>
      </li>
      <li>
        <a href="#" class="nav-links"> <span>Knowledge centre</span></a>
      </li>
      <li>
        <a href="#" class="nav-links"> <span>About weavr</span></a>
      </li>
    </ul>
    <div class="btn">
      <button class="btn-item btn-item-left">Talk to an expert</button>
      <button class="btn-item btn-item-right">Start Building</button>
    </div>
  </nav>
</header>
