<section class="hero">
  <div class="hero-text">
    <p class="head-1">Supercharge your</p>
    <p class="head-1">business with</p>
    <p class="head-2">embedded</p>
    <p class="head-2">finance</p>
    <p class="head-text">
      Seamlessly bring financial services, such as cards and IBANs, into your
      software to unlock new capabilities that your customers will love.
    </p>
    <div class="button-hero">
      <button class="btn-hero btn-hero-left">Start Building</button>
      <button class="btn-hero btn-hero-right">See use cases</button>
    </div>
  </div>
  <div class="hero-img">
    <picture>
      <source srcset="/assets/hero.png" type="image/png" />
      <img src="/assets/hero.png" alt="cube image" class="image" />
    </picture>
  </div>
  <div class="scroll-arrow">
    <mat-icon
      class="arrow"
      aria-hidden="false"
      aria-label="Downward icon"
      fontIcon="south"
    ></mat-icon>
  </div>
</section>
