.steps-section{
    margin: 9.6rem 16rem;
}
.steps{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.heading{
    padding-right:4.8rem ;
}
.head{
    font-size: 4.8rem;
    font-family: 'Epilogue',sans-serif;

}