<section class="quote">
  <div class="quote-box">
    <blockquote>
      <span class="back-quote">“</span>
      <p class="text-1">Put simply, embedded finance is</p>
      <p class="text-1">the placing of a financial product</p>
      <p class="text-2">in a non-financial customer</p>
      <p class="text-2">experience, journey, or platform.</p>
      <span class="back-quote-1">”</span>
      <picture class="author">
        <source srcset="/assets/author.png" type="image/png" />
        <img src="/assets/author.png" alt="author name" class="author-img" />
      </picture>
    </blockquote>
    <a href="#" class="learn-btn"> Learn more </a>
  </div>
</section>
