<section class="innovation">
  <div class="inn-box">
    <div class="inno-text">
      <p class="inno-head">
        Innovation powered by Weavr's
        <span class="highlight">embedded finance engine</span>
      </p>
      <p class="inno-desc">
        Weavr is a framework for combining diverse finance and payments services
        to create your perfect solution. There is no need for separate
        integrations or separate contracts — every service is implemented to
        ensure complete interoperability.
      </p>
      <a href="#" class="inno-link"
        >Explore our solutions

        <mat-icon
          class="arrow-forward"
          aria-hidden="false"
          aria-label="arrow forward icon"
          fontIcon="arrow_forward_ios"
        ></mat-icon>
      </a>
    </div>
    <div class="inno-img-box">
      <picture>
        <source srcset="/assets/innovation.png" type="image/png" />
        <img
          src="/assets/innovation.png"
          alt="a man watching weavr.com"
          class="inno-img"
        />
      </picture>
    </div>
  </div>
</section>
